body {
    font-family: sans-serif;
    font-weight: bold;
    opacity: 0.6;
}

.navbar{
    text-transform:  uppercase;
}

.nav-link{
    background-color: lightblue;
} 

.nav-link:hover {
    opacity: 1;
    background-color: blue;
}

header {
   background-image: url("NYOnTech.jpg");
   margin-top: 45px;
   padding: 50px;
   height: 675px;
   width: 100%;
   background-size: cover;
   text-align: left;
   background-color: lightblue;
}

h1{ 
    font-size: 72px;
}
header p{ 
    font-size: 35px;
}
button{
    margin-left: 6px;
}


 